{
  "*.{ts,tsx,js,jsx,mjs}": [
    "prettier --write",
    "eslint --fix --max-warnings 0"
  ],
  "*.css": [
    "prettier --write",
    "stylelint --fix"
  ],
  "*.{json,md,yaml,yml}": [
    "prettier --write"
  ]
}
